# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.so.*
*.dll
*.dylib
*.gcda
*.gcno

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

#project
lib/*
doc/*
tests/smoozikmanager/config.h
examples/consoleroutine/config.h
examples/simplestclient/config.h
